[Desktop Entry]
Name=convolution
Exec=convolution
Icon=org.gnome.gitlab.bazylevnik0.Convolution
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
